h1{
    text-align: center;
}

.box{
    /* background: blueviolet; */
    background: greenyellow;
    height: 200px;
    width: 300px;
    /* margin: 20px; */
    padding: 20px;
}

.box-dua{
    /* background: red; */
    background: navy;
    height: 100px;
    width: 600px;
    /* margin:70px */
    padding-left: 70px;
}